{% extends "base.html" %}
{% load static %}
{% block title %} Nayana | Projects {% endblock %}
{% block content %}


  <main class="container inner">
    <h1 class="pagetitle">Projects</h1>
    <div class="grid3">
      <article class="card proj">
        <h4>License Plate Detection System</h4><br>
        <p class="muted">Developed a license plate detection system using Python, OpenCV, and OCR, achieving 95% accuracy under varied lighting conditions, enabling faster security processing times.</p><br>
        <a class="btn sm ghost" href="#" target="_blank">View</a>
      </article>
      <article class="card proj">
        <h4>Photo Lab </h4><br>
        <p class="muted">Created a Python-based photo editing system that extracts meaningful insights beyond aesthetics using Python and OpenCV by using taking input from the user.</p><br>
        <a class="btn sm ghost" href="#" target="_blank">View</a>
      </article>
      <article class="card proj">
        <h4>Intelligent Traffic Safety System</h4><br>
        <p class="muted">Designed a system to identify accident zones, monitor traffic flow, and detect driver drowsiness using Python, OpenCV, and Data Mining techniques.</p><br>
        <a class="btn sm ghost" href="#" target="_blank">View</a>
      </article>
    </div>
  </main>

{% endblock %}