{% extends "base.html" %}
{% load static %}
{% block title %} Nayana |  About {% endblock %}
{% block content %}


  <main class="container inner">
    <h1 class="pagetitle">About Me</h1>
    <p class="muted big">
      Computer Science graduate with a solid foundation in programming, databases, and web development. Projects and internships have strengthened practical skills in Python, SQL, HTML, CSS, and JavaScript, enabling the creation of responsive and reliable applications. With a strong focus on clean architecture and user experience, the aim is to develop code that scales efficiently and delivers products people enjoy using. Continuous learning and adaptability fuel the exploration of new tools, frameworks, and industry best practices. Highly motivated to contribute meaningfully to software teams while expanding technical depth through real-world challenges.
<br><br>
    </p>
    <div class="cards">
      <div class="card">
        <h3>What I Do</h3>
        <ul class="list">
          <li>Responsive UI with semantic HTML</li>
          <li>Modern CSS </li>
          <li>Clean, reusable JS components</li>
          <li>Backend logic and scripting with Python</li>
          <li>Database design, queries, and management using SQL</li>
        </ul>
      </div>
      <div class="card">
        <h3>Tools</h3>
        <ul class="chips">
          <li>HTML5</li><li>CSS3</li><li>JS ES6</li><li>Django</li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
  