{% extends "base.html" %}
{% load static %}
{% block title %} Nayana | Education {% endblock %}
{% block content %}


  <main class="container inner">
    <h1 class="pagetitle">Education</h1>
    <div class="timeline">
      <div class="tl">
        <div class="dot"></div>
        <div class="tcard">
          <h4>Degree</h4>
          <h4>B.E - Sri Siddhartha Institute of Technology </h4>
          <p class="muted">2021–2025 • CSE</p>
        </div>
      </div>
      <div class="tl">
        <div class="dot"></div>
        <div class="tcard">
          <h4>Pre-University</h4>
          <h4>Vidyanieketan PU Collge (BASE)</h4>
          <p class="muted">2019-2021 • PCMC</p>
        </div>
      </div>
      <div class="tl">
        <div class="dot"></div>
        <div class="tcard">
          <h4>Schooling</h4>
          <h4>Bishop Saragant School</h4>
          <p class="muted">2005-2019</p>
        </div>
      </div>
    </div>
  </main>

 {% endblock %}