{% extends "base.html" %}
{% load static %}
{% block title %} Nayana | Skills {% endblock %}
{% block content %}

  <main class="container inner">
    <h1 class="pagetitle">Skills</h1>
    <div class="grid3">
      <div class="card">
        <h4>Core</h4>
        <ul class="list"><br>
          <li>HTML5, Semantic Markup</li>
          <li>CSS3, Flexbox, Grid</li>
          <li>JavaScript (ES6+)</li>
        </ul>
      </div>
      <div class="card">
        <h4>Programming & Backend</h4><br>
        <ul class="list">
          <li>Python (fundamentals, OOP, regular expressions, exception handling)</li>
          <li>SQL (Oracle SQL – DDL, DML, DQL, joins, subqueries, nested queries, normalization)</li>
        </ul>
      </div>
      <div class="card">
        <h4>Tools</h4><br>
        <ul class="list">
          <li>VS Code</li>
          <li>Django Templates</li>
        </ul>
      </div>
    </div>
  </main>
 {% endblock %}