{% extends "base.html" %}
{% load static %}
{% block title %} Nayana R A | Skills {% endblock %}
{% block content %}

  <main class="container inner">
   <section id="skills" class="section">

<div class="container">

<h2 class="pagetitle">Skills</h2>

<div class="cards">

<!-- CARD 1 -->
<div class="card">

<h3>Programming Languages</h3>

<ul>

<li>Python</li>
<li>C (Basic)</li>
<li>C++ (Basic)</li>
<li>SQL</li>

</ul>

</div>


<!-- CARD 2 -->
<div class="card">

<h3>Core Computer Science</h3>

<ul>

<li>Data Structures & Algorithms</li>
<li>Object-Oriented Programming</li>
<li>Operating Systems Fundamentals</li>
<li>Memory Management Basics</li>
<li>Software Development Life Cycle</li>

</ul>

</div>


<!-- CARD 3 -->
<div class="card">

<h3>Web Technologies</h3>

<ul>

<li>HTML5</li>
<li>CSS3</li>
<li>JavaScript</li>
<li>Bootstrap</li>
<li>React.js (Basic)</li>

</ul>

</div>


<!-- CARD 4 -->
<div class="card">

<h3>Frameworks & Libraries</h3>

<ul>

<li>Django</li>
<li>OpenCV</li>
<li>OCR</li>

</ul>

</div>


<!-- CARD 5 -->
<div class="card">

<h3>Databases</h3>

<ul>

<li>Oracle SQL</li>
<li>MySQL</li>

</ul>

</div>


<!-- CARD 6 -->
<div class="card">

<h3>Tools & Platforms</h3>

<ul>

<li>Git</li>
<li>GitHub</li>
<li>VS Code</li>
<li>Linux (Basic)</li>
<li>Windows</li>

</ul>

</div>


</div>

</div>

</section>
  </main>
 {% endblock %}